{% extends 'back_base.html.twig' %}
{% block title %}Statistiques{% endblock %}


{% block body %}

    <div class="card-body">
   <h1>Statistiques </h1>
    <canvas id="produits" width="400" height="100"></canvas>


    <script>
        let produits = document.querySelector("#produits")
        let prodgraph = new Chart(produits,{
            type: "pie",
            data: {
                labels: {{ prodnom|raw }},
                datasets: [{
                    label: "Repartition des produits",
                    data: {{ pourcentage|raw }},
                    backgroundColor: {{ prodcouleur|raw }}

                }]
            }
        })



    </script>
    </div>
{% endblock %}



